---
layout: default
---

{% assign sorted_resume = site.data.resume | sort: 'order' %}
{% for element in sorted_resume %}
  {% if element.section != 'employment' %}
    <section{% if itemtype %} itemscope itemtype="{{ itemtype }}"{% endif %}>
      <aside>
        <h2{% if itemtype %} itemprop="name"{% endif %}>{{ element.title }}</h2>
      </aside>
      <article>
        {{ element.content }}
      </article>
    </section>
  {% endif %}
{% endfor %}

<section{% if site.data.resume.last.itemtype %} itemscope itemtype="{{ site.data.resume.last.itemtype }}"{% endif %}>

  <aside>
    <h2{% if site.data.resume.last.itemtype %} itemprop="name"{% endif %}>{{ site.data.resume.last.title }}</h2>
  </aside>

  {% assign jobs = site.jobs | sort: 'startDate' | reverse %}
  {% for job in jobs %}
    {% include job.html job=job %}
  {% endfor %}

</section>
