---
layout: default
pdf: true
---
{% assign resume = site.data.resume %}
{% for element in resume %}
  {% if element.section == 'summary' %}
    <section{% if itemtype %} itemscope itemtype="{{ itemtype }}"{% endif %}>
      <aside>
        <h2 id="{{ element.section }}"{% if itemtype %} itemprop="name"{% endif %}>{{ element.title }}</h2>
      </aside>
      <article>
        <p>{{ element.content }}</p>
      </article>
    </section>
  {% endif %}

  {% if element.section == 'skills' %}
    <section{% if itemtype %} itemscope itemtype="{{ itemtype }}"{% endif %}>
      <aside>
        <h2 id="{{ element.section }}"{% if itemtype %} itemprop="name"{% endif %}>{{ element.title }}</h2>
      </aside>
      <article>
        <ul>
          {% for skill in element.skills %}
            <li>{{ skill }}</li>
          {% endfor %}
        </ul>
      </article>
    </section>
  {% endif %}

  {% if element.section == 'experience' %}
    <section{% if itemtype %} itemscope itemtype="{{ itemtype }}"{% endif %}>
      <aside>
    <h2 id="{{ element.section }}"{% if itemtype %} itemprop="name"{% endif %}>{{ element.title }}</h2>
      </aside>

      {% assign jobs = site.jobs | sort: 'endDate' | reverse %}
      {% for job in jobs %}
        {% include job.html job=job %}
      {% endfor %}
    </section>
  {% endif %}

  {% if element.section == 'educations-certifications' %}
    <section{% if itemtype %} itemscope itemtype="{{ itemtype }}"{% endif %}>
      <aside>
        <h2 id="{{ element.section }}"{% if itemtype %} itemprop="name"{% endif %}>{{ element.title }}</h2>
      </aside>
      <article>
        <ul>
          {% for cert in element.educations-certifications %}
            <li>{{ cert }}</li>
          {% endfor %}
        </ul>
      </article>
    </section>
  {% endif %}
{% endfor %}

