<header itemscope itemtype="http://schema.org/Person">

  {% if page.pdf != true %}
  <img itemprop="image" src="https://www.gravatar.com/avatar/{{ site.data.owner.gravatar_hash }}?s=150&amp;d=blank" alt="Photo of {{ site.data.owner.name }}" />
  {% endif %}

  <section>
    <h1 itemprop="name">{{ site.data.owner.name }}</h1>

    <h2 itemprop="jobTitle">{{ site.data.owner.job_title }}</h2>

    <h3>
      <a href="tel:{{ site.data.owner.phone_number }}" itemprop="telephone">{{ site.data.owner.formatted_phone_number }}</a>
      <a href="mailto:{{ site.data.owner.email }}" itemprop="email">{{ site.data.owner.email }}</a>
      <span>Loveland, CO</span>
      {% if page.pdf != true %}
        <a href="/resume.pdf" download="BenMosherResume{{ site.time | date: '%Y' }}.pdf">Download PDF</a>
      {% endif %}
    </h3>
  </section>
</header>
