footer {
  border-top: 1px solid $grey-color-light;
  clear: both;
  margin-top: 4em;
  padding: 1em 5em;
  width: calc(100% - 10em);
  color: $grey-color;
  font-weight: 100;
  display: inline-table;

  p, ul {
    margin: 0;
  }

  p {
    float: left;
    font-size: 0.9em;
    line-height: 36px;
  }

  ul {
    float: right;
    list-style: none;

    li {
      float: left;

      &:last-of-type {
        a {
          margin-right: 0;
        }
      }
    }

    a {
      display: block;
      margin-right: 1em;
      width: 36px;
      height: 36px;
      border: none;

      &:hover {
        path {
          fill: $brand-color;
        }
      }
    }

    svg, img {
      width: 36px;
      height: 36px;
    }

    span.username {
      display: none;
    }
  }
}
