footer {
  border-top: 1px solid $grey-color-light;
  clear: both;
  margin-top: 4em;
  padding: 1em 5em;
  width: calc(100% - 10em);
  color: $grey-color;
  font-weight: 100;
  display: inline-table;

  @include bp(iphone-6-plus) {
    width: 100%;
    padding-left: 2.5em;
    padding-right: 2.5em;
    width: calc(100% - 5em);
    height: 105px;
  }

  p, ul {
    margin: 0;
  }

  p {
    float: left;
    font-size: 0.9em;
    line-height: 36px;

    @include bp(iphone-6-plus) {
      line-height: 1;
      padding-bottom: 1em;
      text-align: center;
      width: 100%;
    }
  }

  ul {
    float: right;
    list-style: none;

    @include bp(iphone-6-plus) {
      float: none;
      margin-left: auto;
      margin-right: auto;
      display: table;
      padding-left: 0;
    }

    li {
      float: left;

      &:last-of-type {
        a {
          margin-right: 0;
        }
      }
    }

    a {
      display: block;
      margin-right: 1em;
      width: 36px;
      height: 36px;
      border: none;

      &:hover {
        border-bottom: none;
        
        path {
          fill: $brand-color;
        }
      }
    }

    svg, img {
      width: 36px;
      height: 36px;
    }

    span.username {
      display: none;
    }
  }
}
