header {
  padding: 8em 5em;
  width: calc(100% - 10em);
  display: table;

  img {
    border-radius: 100%;
    display: block;
    float: left;
    margin-right: 36px;
  }

  section {
    float: left;
    width: auto;
    margin-top: 11px;
    padding: 0;

    h2 {
      color: $grey-color-dark;
    }

    h3 {
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  h1, h2, h3 {
    color: $grey-color-dark;
    margin: 0;
    font-weight: 100;
  }

  h2 {
    font-size: 26px;
    font-style: italic;
    margin-bottom: 0.2em;
  }

  h3 a {
    font-size: 18px;
    font-weight: 100;
    display: inline-block;
    line-height: 1.2;
  }
}
