header {
  border-top: 0.75em solid $brand-color;
  padding: 8em 5em;
  width: calc(100% - 10em);
  display: table;

  img {
    border-radius: 100%;
    display: block;
    float: left;
    margin-right: 3em;
  }

  h1, h2, h3 {
    color: $grey-color-dark;
    margin: 0;
    font-weight: 100;
  }

  h2 {
    font-style: italic;
    margin-bottom: 0.5em;
  }
}
