@import "variables";
@import "_breakpoints";

nav {
  float: right;
  margin-top: 52px;

  @include bp(iphone-6-plus) {
    float: none;
    margin-top: 0;
    clear: both;
    display: flex;
    justify-content: space-around;
  }

  a {
    display: block;
    border: none;
    font-size: 1.2em;
    padding: 0.5em 1em;
    border-radius: 5px;

    @include bp(iphone-6-plus) {
      text-align: center;
      flex: 1 1 auto;
    }

    &:hover {
      background: $brand-color;
      color: white;
    }
  }
}
