body.posts {
  section {
    article.post {
      width: 100%;
      margin-bottom: 3em;

      aside {
        width: 15%;
        float: left;

        time {
          color: $grey-color-light;
          font-weight: 100;
          margin-top: 10px;
          display: block;
        }
      }

      section {
        width: 85%;
        float: right;
        padding: 0;

        h2 a {
          color: $grey-color-dark;
          border-bottom: 1px solid white;
          font-weight: 700;
          letter-spacing: 1px;
          text-decoration: none;
          font-size: 19px;
          margin-bottom: 20px;
          display: inline-block;

          &:hover {
            color: $brand-color;
            border-bottom: 1px solid $grey-color-light;
          }
        }
      }
    }
  }
}
