body.posts.single {
  section {
    header {
      padding: 0 0 5em;
      width: 100%;
      text-align: center;

      @include bp(iphone-6-plus) {
        padding-bottom: 2em;
      }

      h2, h2 a {
        font-size: 1.2em;
        color: $grey-color-dark;
        margin-top: 0.5em;
      }
    }

    aside {
      .published-on {
        font-size: 0.9em;
        font-weight: 100;
        color: $grey-color-dark;
        margin-bottom: 2em;

        @include bp(iphone-6-plus) {
          margin-bottom: 1em;
        }
      }

      time {
        font-size: 0.9em;
        font-weight: 100;
        color: $grey-color-dark;
        display: inline-block;
        margin-bottom: 0;

        @include bp(iphone-6-plus) {
          margin-bottom: 0;
        }
      }

      h2 {
        font-size: 1.2em;
        color: $grey-color-dark;
      }

      ul {
        list-style: none;
        font-weight: 100;
        margin-left: 2em;
        margin-bottom: 2em;

        @include bp(iphone-6-plus) {
          margin-bottom: 1em;
        }

        li {
          position: relative;

          &:after {
            content: "\2014";
            left: -1.5rem;
            top: 0;
            position: absolute;
            color: $grey-color-light;
          }
        }

        a {
          text-decoration: none;
          color: $brand-color;
        }
      }
    }

    article {
      h2 {
        color: $grey-color-dark;
      }

      p {
        margin-bottom: 2em;

        & + ul {
          margin-top: 0;
        }
      }

      pre {
        padding: 1em;
      }

      ul {
        margin: 2em 3em;
      }

      *:last-child {
        margin-bottom: 0;
      }
    }
  }
}
