section {
  width: calc(100% - 10em);
  display: inline-block;
  padding: 3em 5em;
  border-bottom: 1px solid $grey-color-light;

  @include bp(iphone-6-plus) {
    padding: 2.5em;
    width: calc(100% - 5em);
  }

  &:nth-of-type(1) {
    padding-top: 0;
  }

  &:nth-last-of-type(1) {
    border-bottom: none;
    padding-bottom: 0;
  }

  aside {
    width: 30%;
    float: left;

    @include bp(iphone-6-plus) {
      width: 100%;
      padding-bottom: 1em;
    }
  }

  h2 {
    margin: 0;
    color: $brand-color;
  }

  h3 {
    margin-top: 0.5em;
    margin-bottom: 0.5em;

    &:first-child {
      margin-top: 0.16em;
    }

    &[itemprop="name"] {
      margin-bottom: 0;
    }
  }

  h4 {
    margin-top: 0;
    margin-bottom: 0.5em;

    &[itemprop="time"] {
      font-size: $base-font-size;
      font-style: italic;
    }
  }

  h5 {
    margin-top: 0;
    margin-bottom: 0;

    &[itemprop="jobTitle"] {
      margin-top: 1em;
    }
  }

  article {
    width: 70%;
    float: right;
    border-bottom: 1px dotted $grey-color-light;
    margin-bottom: 2em;
    padding-bottom: 2em;

    @include bp(iphone-6-plus) {
      width: 100%;
      float: left;
      clear: both;
    }

    &:nth-last-of-type(1) {
      padding-bottom: 0;
      margin-bottom: 0;
      border-bottom: none;
    }

    ul[itemprop="description"] {
      margin-bottom: 0;
    }
  }

  ul {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;

    &[itemprop="description"] {
      margin: 1em 0 1em 2em;
    }
  }

  p {
    margin: 0;
    line-height: $base-line-height;
  }
}
