---
layout: default
bodyClass: "posts single"
---
<section itemscope itemtype="http://schema.org/BlogPosting">

  <header>
    <h1 itemprop="name headline">{{ page.title }}</h1>
    <h2 class="byline">
      Written by
      <span itemprop="author" itemscope itemtype="http://schema.org/Person">
        <a href="https://plus.google.com/+{{ site.data.owner.google_plus_username }}" target="_blank" itemprop="url" rel="author">Bennie Mosher</a>
      </span>
    </h2>
  </header>

  <aside>
    <div class="published-on">
      Published
      <time itemprop="datePublished" datetime="{{ page.date | date_to_xmlschema }}" title="{{ page.date | date: '%b %-d, %Y' }}">{{ page.date | timeago }}</time>
    </div>

    {% if page.categories %}
    <h2>Categories</h2>
    <ul>
      {% for category in page.categories %}
        <li><a href="#">{{ category }}</a></li>
      {% endfor %}
    </ul>
    {% endif %}

    {% if page.tags %}
    <h2>Tags</h2>
    <ul>
      {% for tag in page.tags %}
        <li><a href="#">{{ tag }}</a></li>
      {% endfor %}
    </ul>
    {% endif %}
  </aside>

  <article itemprop="articleBody">
    <div itemprop="articleBody">{{ content }}</div>
  </article>

</section>
