---
layout: default
bodyClass: "posts"
---
<section itemscope itemtype="http://schema.org/BlogPosting">
  {% for post in site.posts %}
  <article class="post">
    <aside>
      <time itemprop="datePublished" datetime="{{ post.date | date_to_xmlschema }}" title="{{ post.date | date: '%b %-d, %Y' }}">{{ post.date | timeago }}</time>
    </aside>
    <section>
      <h2 itemprop="name headline"><a href="{{ post.url }}">{{ post.title }}</a></h2>
      <h3 class="byline">
        Written by
        <span itemprop="author" itemscope itemtype="http://schema.org/Person">
          <a href="https://plus.google.com/+{{ site.data.owner.google_plus_username }}" target="_blank" itemprop="url" rel="author">Bennie Mosher</a>
        </span>
      </h3>
      <div itemprop="articleBody">{{ post.excerpt }}</div>
    </section>
  </article>
  {% endfor %}
</section>
